html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins';
	font-weight: 400;
	margin: 0;
}

.titles {
	font-family: 'Oswald';
	font-weight: 600;
}

#home {
	height: 100vh;
	background-image: linear-gradient(90deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .3), rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('images/front-page.jpg');
	background-size: cover;
}

#barraNav {
	background: linear-gradient(90deg, #0948B3, #FF2200, #0948B3);
	/* width: 100vw; */
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#navFlex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navLinks {
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-size: 20px;
	margin: 0 35px 0 35px;
	width: 200px;
	height: 35px;
	list-style-type: none;
}

.navLinks:hover {
	border-radius: 5px;
	background: #196FFF;
	animation-name: navHover;
	animation-duration: 0.2s;
}

@keyframes navHover {
	50% {width: 250px};
	100% {width: 200px};
}

.reset {
	text-decoration: none;
	color: white; 
}

#front {
	margin: 270px 0 0 40px;
}

#front h1 {
	font-size: 50px;
	line-height: 55px;
	color: white;
	text-transform: uppercase;
}

#front p {
	font-size: 20px;
	margin-top: -30px;	
	color: white;
	text-transform: uppercase;
}

#btnPlay {
	margin: -10px 0 0 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	border-color: white;
	border-radius: 5px;
	height: 40px;
	width: 200px;
	background: linear-gradient(45deg, #0948B3, #FF2200);
	color: white;
	text-transform: uppercase;
}

#iconsFlex {
	display: flex;
}

.icons {
	width: 50px;
	height: 50px;	
	margin: 0 35px 0 0;
}

#btnNav {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	text-transform: uppercase;
	color: white; 
	border-radius: 5px;
	border: 1px solid white; 
	background: linear-gradient(45deg, #0948B3, #FF2200);
	width: 200px;
	height: 40px;
	position: absolute;
	top: 194vh;
	right: 13px;
}

#inst {
	height: 100vh;
}

#inst h1 {
	text-transform: uppercase;
	font-size: 35px;
	margin-left:40px;
}


#juega {
	margin-top: auto;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(10, 1fr); 
	grid-template-rows: repeat(10, 1fr);
	grid-template-areas: 
		't t t t t t t t t t'
		'f f r r l l l l l l'
		'f f r r l l l l l l'
		'f f r r l l l l l l'
		'p p g g g g g g c c' 
		'p p g g g g g g c c'
		'p p g g g g g g c c'
		'p p g g g g g g c c'
		'p p g g g g g g c c'
		'i i s s s s s s n n';
}

#juega h2 {
	text-transform: uppercase;
	font-size: 35px;
	grid-area: t;
	text-align: center;
	background: linear-gradient(45deg, #0948B3, #FF2200);
	background-size: 100%;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
       	-moz-background-clip: text;
	-moz-background-text-fill-color: transparent;	
}

.boxes {
	margin: 5px;
	border-radius: 10px;
	border: 1px solid gray;
	box-shadow: 0px 0px 5px 0px gray;
}

#inputField {
	grid-area: f;
	padding: 14px;
	overflow: auto;
}

#nombre {
	border-radius: 3px;
	border-width: 1px;
	height: 20px;
}

#roundsPick {
	border-radius: 3px;
	border-width: 1px;
	height: 20px;
}

#playBtn {
	margin-left: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	text-transform: uppercase;
	color: white; 
	border-radius: 5px;
	border: 1px solid white;
	height: 30px;
	width: 80px;
	background: linear-gradient(45deg, #0948B3, #FF2200);
}

#rounds {
	grid-area: r;
}

#rounds h2 {
	text-align: center;
	text-transform: uppercase;
	line-height: 35px;
}

#rounds p {
	text-align: center;
	font-size: 50px;
	line-height: 45px;
}

#log {
	grid-area: l;
	padding: 0px 5px 5px 10px; 
	margin-right: 20px;
	overflow-y: auto;
}

#log h2 {
	text-transform: uppercase;
	text-align: center;
	line-height: 35px;
}

#playerSelect {
	grid-area: p;
	margin: 20px;
	border-radius: 10px;
	border: 1px solid gray;
	box-shadow: 0px 0px 5px 0px gray;
}

#playerSelect h2 {
	line-height: 35px;
}

.iconsPicks {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.iconsPick {
	height: 75px;
	width: 75px;	
	margin: 5px;
}

#gameContent {
	grid-area: g;
}

#computerSelect {
	grid-area: c;
	margin: 20px;
	border-radius: 10px;
	border: 1px solid gray;
	box-shadow: 0px 0px 5px 0px gray;
}

#computerSelect h2 {
	line-height: 35px;
}

#score {
	grid-area: s;
}

#score p {
	text-align: center;
	text-transform: uppercase;
}

#instBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	text-transform: uppercase;
	color: white; 
	border-radius: 5px;
	border: 1px solid white; 
	background: linear-gradient(45deg, #0948B3, #FF2200);
	width: 200px;
	height: 40px;
	grid-area: i;
	margin: auto;
}

#resetBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	text-transform: uppercase;
	color: white; 
	border-radius: 5px;
	border: 1px solid white; 
	background: linear-gradient(45deg, #0948B3, #FF2200);
	width: 200px;
	height: 40px;
	grid-area: n;
	margin: auto;
}
