body {
	font-family: Lato;
	margin: 0;
	scroll-behavior: smooth;
}

#hom {
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(90deg, rgba(0, 0, 0, .9), rgba(0, 0, 0, .8)), url('images/front-page.jpg');
	background-size: cover;
}

#barraNav {
	width: 100vw;
	background: linear-gradient(90deg, #0948B3, #FF2200, #0948B3);
	position: fixed;  
	top: 0;
}

#navFlex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10px; 
}

.navLinks {
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-size: 17px;
       	font-weight: bolder;
	list-style-type: none; 	
	margin: 0 35px 0 35px;
	width: 200px;
	height: 35px;
}

.reset {
	text-decoration: none; 
	color: white; 
}

.navLinks:hover {
	border-radius: 5px;
	background: #196FFF;
	animation-name: hover;
	animation-duration: 0.2s;
	font-size: 20px;
}

@keyframes hover {
	50% {flex-grow: 0.2;}
	100% {flex-shrink: 0.2;} 
}

#title {
	font-size: 70px;
	font-weight: bolder;
	position: absolute;
	top: 25vh;
	left: 3vw;
}

#btnPlay {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	position: absolute;
	top: 57vh;
	left: 5vw;
	border-radius: 5px;
	height: 40px;
	width: 200px;
	background: linear-gradient(45deg, #0948B3, #FF2200);
	
}

figcaption {
	position: absolute;
	top: 73vh;
	left: 66vw;
}

#front-image {
	position: relative;
	top: 15vh;
	left: 47vw;
	border-radius: 50px;
	width: 600px;
	height: 500px;	
}	
